ion-button,ion-list,ion-item,section{
    -webkit-flex: none!important; 
    flex: none!important; 
}

ion-grid ,ion-item,section{
    justify-content: center;
}
.image-center{
margin:0 auto;
height: 100px;
width: 100px;
}

.profile-picture {
position: relative;
justify-content: center;
width:100%;
}

.profile-picture__icon {
border-radius: 50%;
background: transparentize(#222, 0.2);
color:#f4f4f4;
font-size: 2rem;
position: absolute;
left: 55%;
width: 32px;
height: 32px;
padding-top: 3px;
}

.profile-picture__image {
border-radius: 50%;
height: 128px;
width: 128px;
}