ion-content{
  --background: #3880ff;
  --color:#062f77;
}
ion-button{
  --background: #062f77;
}
ion-item{
  --background: #3880ff;
  --color:#fff;

}
ion-input{
  --background: #3880ff;
  --color:#fff;
}

a{
  color: #fff;
}
